/* Whole page */
#main {
    position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png")
}

/* Logo */
#logoImage {
    position: absolute; left: 15px; top: 11px;
}