:root {
    --mainColour: #5E72EB;
    --teamBlueColour: #5E72EB;
    --teamRedColour: #FF9190;
    --teamSectionColour: #FFFEFA;

    --boxShadowRed: rgba(255, 145, 144, 0.45);
    --boxShadowPurple: 0 4px 15px 0 rgba(94, 114, 235, 0.45);

    --nowPlayingBoxHeight: 80px;
    --sideSectionContainerWidth: 315px;
    --sideSectionContainerLeft: 15px;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Inter Italic";
    src: url("../fonts/Inter-Italic.ttf");
    font-weight: 400;
    text-decoration: italic;
}

/* Whole page */
#main {
    position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png");
    background-size: cover;
}

/* Logo */
#logoImage { 
    position: absolute; left: 15px; top: 11px; 
    width: 83px; height: 83px;
}
#logoText { 
    position: absolute; left: 100px; top: 28px; 
    width: 460px; height: 50px;
}

/* Now Playing */
#nowPlayingContainer {
    position: absolute; left: 890px; top: 10px;
    width: 940px; height: var(--nowPlayingBoxHeight);
    box-shadow: var(--boxShadowPurple);
    color: var(--mainColour);
}
/* Mod*/
#nowPlayingMod {
    position: absolute; left: 0; top: 25px;
    background-color: var(--mainColour);
    width: 70px; height: 30px;
    font-family: "Inter"; font-weight: 800;
    text-align: center;
    color: white;
    line-height: 30px;
}
/* Now playing metadata */
.nowPlayingMetadataWrapper {
    position: absolute; left: 90px;
    width: 320px;
    text-wrap: nowrap;
    overflow: hidden;
}
.nowPlayingDifficultyArtistWrapper { font-family: "Inter Italic"; font-weight: 400; font-size: 14px; }
.nowPlayingMetadata { width: max-content; }
/* Song Name */
#nowPlayingSongNameWrapper {
    top: 10px;
    font-family: "Inter"; font-weight: 800; font-size: 20px;
}
/* Difficulty */
#nowPlayingDifficultyWrapper {
    top: 34px;
    letter-spacing: 0.6px;
}
/* Artist */
#nowPlayingArtistWrapper {
    top: 52px;
    letter-spacing: 0.5px;
}
/* Text Animation */
.nowPlayingTextAnimation { animation: displaySlide 20s linear infinite alternate; }
@keyframes nowPlayingTextKeyframes {
    0% { transform: translate(0px); }
    11% {transform: translate(0px); }
    89% { transform: translate(calc(-100% + 320px)); }
    100% { transform: translate(calc(-100% + 320px)); }
}
/* Now Playing Stats */
#nowPlayingStats {
    position: absolute; left: 423px; top: 9px;
    display: grid;
    grid-template-columns: 95px 200px;
    grid-template-rows: repeat(3, 20px);
    z-index: 2;
    
    font-family: "Inter"; font-size: 16px; font-weight: 500;
}
.nowPlayingStatsText { font-weight: 800; }
/* Now Playing Background */
#nowPlayingBackgroundGradient {
    position: absolute; left: 580px; top: 0;
    background: linear-gradient(to right, white,  white,  white, rgba(255, 255, 255, 0.875), rgba(255, 255, 255, 0.75), 
                            rgba(255, 255, 255, 0.625), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.375), 
                            rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.125), transparent);
    width: 450px; height: var(--nowPlayingBoxHeight);
    z-index: 1;
}
#nowPlayingBackground {
    position: absolute; left: 630px; top: 0;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    background-position: center;
    background-size: cover;
    width: 400px; height: var(--nowPlayingBoxHeight);
}

/* Commentators */
#commentatorsContainer {
    position: absolute; left: var(--sideSectionContainerLeft); top: 134px;
    width: var(--sideSectionContainerWidth); height: 105px;
    box-shadow: var(--boxShadowPurple);
}
#commentatorsText {
    position: absolute; left: 10px; top: 10px;
    font-family: "Inter"; font-weight: 500; font-size: 12px;
    color: var(--mainColour);
}
#commentatorsLine1 {
    position: absolute; left: 0px; top: 27px;
    background-color: var(--mainColour);
    width: 217px; height: 1px;
}
#commentatorsLine2 {
    position: absolute; left: 11px; top: 33px;
    background-color: var(--mainColour);
    width: 15px; height: 2px;
}

/* Team Sections */
.teamSection {
    position: absolute; left: var(--sideSectionContainerLeft); 
    width: var(--sideSectionContainerWidth); height: 175px;
    /* background-color: white; */
}
#teamRedSection {
    top: 383px;
    color: var(--teamRedColour);
    box-shadow: var(--boxShadowRed);
}
#teamBlueSection {
    top: 618px;
    color: var(--teamBlueColour);
    box-shadow: var(--boxShadowPurple);
}
/* Team Details */
.teamDetails {
    position: absolute; left: 0px; 
    width: inherit; height: 56px;
}
#teamRedDetails {
    top: 0px;
    background-color: var(--teamRedColour);
}
#teamBlueDetails {
    bottom: 0px;
    background-color: var(--teamBlueColour);
}
/* Team Banner */
.teamBanner {
    position: absolute; left: 10px; 
    width: 80px; height: 40px;
    background-size: cover;
    background-position: center;
}
#teamRedBanner { top: 8px; }
#teamBlueBanner { bottom: 8px; }
/* Team Name */
.teamNameContainer {
    position: absolute; left: 106px; top: 8px;
    width: 150px; height: 40px;
    display: flex;
    align-items: center;
}
.teamName {
    font-family: "Inter"; font-weight: 800; font-size: 16px;
    color: var(--teamSectionColour);
}
/* Team Seed */
.teamSeed {
    position: absolute; left: 273px; top: 9px;
    width: 35px; height: 31px;
    color: var(--teamSectionColour);
    font-family: "Inter"; 
}
.teamSeedText { font-weight: 800; font-size: 12px; }
.teamSeedNumber {
    position: absolute; left: 50%; top: 15px;
    font-weight: 400; font-size: 18px;
    transform: translateX(-55%);
}
/* Team Wins */
.teamWins {
    position: absolute; 
    width: 174px; height: 30px;
}
#teamRedWins { top: 59px; }
#teamBlueWins { top: 83px; }
/* Team win text */
.teamWinsText {
    position: absolute; left: 10px;
    font-family: "Inter"; font-size: 12px; font-weight: 500;
}
/* Team win line */
.teamWinLine {
    position: absolute; top: 17px;
    width: 91px; height: 1px;
}
#teamRedWinLine { background-color: var(--teamRedColour); }
#teamBlueWinLine { background-color: var(--teamBlueColour); }
/* Team win stars */
.teamWinStars {
    display: flex;
    position: absolute; left: 10px; top: 23px;
}
.teamWinStar {
    width: 18px; height: 5px;
    margin-right: 4px;
    border: 1px solid;
}
.teamRedWinStar { border-color: var(--teamRedColour); }
.teamRedWinStarFill { background-color: var(--teamRedColour); }
.teamBlueWinStar { border-color: var(--teamBlueColour); }
.teamBlueWinStarFill { background-color: var(--teamBlueColour); }
/* Team map picks */
.teamMapPick {
    position: absolute; left: 217px;
    width: 96px; height: 23px;
    border: 2px solid;
    border-right-width: 0;
    line-height: 23px;
    font-family: "Inter"; font-size: 12px; font-weight: 500;
    text-align: center;
}
#teamRedMapPick {
    top: 62px;
    border-color: var(--teamRedColour);
}
#teamBlueMapPick {
    top: 86px;
    border-color: var(--teamBlueColour);
}
/* Team Score Section */
/* Team Score */
.teamCurrentScore {
    position: absolute; right: 9px; 
    font-family: "Inter"; font-size: 36px;
}
#teamRedCurrentScore {
    top: 94px;
    font-weight: 500;
}
#teamBlueCurrentScore {
    top: 36px;
    font-weight: 800; 
}
/* Score Line 1 */
.teamScoreLine1 {
    position: absolute; left: 11px; 
    width: 15px; height: 2px;
    background-color: var(--teamRedColour);
}
#teamRedScoreLine1 { 
    top: 138px;
    background-color: var(--teamRedColour);
}
#teamBlueScoreLine1 {
    bottom: 138px;
    background-color: var(--teamBlueColour);
}
/* Score Line 2 */
.teamScoreLine2 {
    position: absolute; 
    width: 217px; height: 1px;
}
#teamRedScoreLine2 {
    top: 145px;
    background-color: var(--teamRedColour);
}
#teamBlueScoreLine2 {
    top: 145px;
    background-color: var(--teamRedColour);
}
/* Score Text */
.teamScoreText {
    position: absolute; left: 10px; 
    font-family: "Inter"; font-size: 12px; font-weight: 500;
}
#teamRedScoreText { top: 149px; }
#teamBlueScoreText { top: 149px; }

/* Current score difference */
#currentScoreDifference {
    position: absolute; left: 73px; top: 573px;
    width: 200px; height: 30px;
    background-color: var(--teamBlueColour);
    color: white;
    font-family: "Inter"; font-weight: 800;
    text-align: center;
    line-height: 30px;
}