:root {
    --mainColour: #5E72EB;
    --teamBlueColour: #5E72EB;
    --teamRedColour: #FF9190;
    --teamSectionColour: #FFFEFA;

    --boxShadowRed: 0 4px 15px 0 rgba(255, 145, 144, 0.45);
    --boxShadowPurple: 0 4px 15px 0 rgba(94, 114, 235, 0.45);

    --nowPlayingBoxHeight: 80px;
    --outsideSectionContainerWidth: 330px;
    --middleSectionContainerWidth: 315px;
    --sideSectionContainerLeft: 15px;
    --sideSectionLowerContainerHeight: 105px
}

/* Inter Font */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Inter Italic";
    src: url("../fonts/Inter-Italic.ttf");
    font-weight: 400;
    text-decoration: italic;
}
/* Montserrat Font */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}

/* Whole page */
#main {
    position: absolute; top: 0; left: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png");
    background-size: cover;
}

/* Now Playing */
#nowPlayingContainer {
    position: absolute; left: 890px; top: 10px;
    width: 940px; height: var(--nowPlayingBoxHeight);
    box-shadow: var(--boxShadowPurple);
    color: var(--mainColour);
    background-color: white;
}
/* Mod*/
#nowPlayingMod {
    position: absolute; left: 0; top: 25px;
    background-color: var(--mainColour);
    width: 70px; height: 30px;
    font-family: "Inter"; font-weight: 800;
    text-align: center;
    color: white;
    line-height: 30px;
}
/* Now playing metadata */
.nowPlayingMetadataWrapper {
    position: absolute; left: 90px;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
}
.nowPlayingDifficultyArtistWrapper { font-family: "Inter Italic"; font-weight: 400; font-size: 14px; }
.nowPlayingMetadata { width: max-content; }
/* Song Name */
#nowPlayingSongNameWrapper {
    top: 10px;
    font-family: "Inter"; font-weight: 800; font-size: 20px;
}
/* Difficulty */
#nowPlayingDifficultyMapperWrapper {
    top: 34px;
    letter-spacing: 0.6px;
}
/* Artist */
#nowPlayingArtistWrapper {
    top: 52px;
    letter-spacing: 0.5px;
}
/* Text Animation */
.nowPlayingTextAnimationShort { animation: displaySlide 20s linear infinite alternate; }
@keyframes nowPlayingTextKeyframes {
    0% { transform: translate(0px); }
    11% {transform: translate(0px); }
    89% { transform: translate(calc(-100% + 400px)); }
    100% { transform: translate(calc(-100% + 400px)); }
}
.nowPlayingTextAnimationLong { animation: displaySlide 20s linear infinite alternate; }
@keyframes nowPlayingTextKeyframes {
    0% { transform: translate(0px); }
    11% {transform: translate(0px); }
    89% { transform: translate(calc(-100% + 470px)); }
    100% { transform: translate(calc(-100% + 470px)); }
}
/* Now Playing Stats */
#nowPlayingStats {
    position: absolute; left: 515px; top: 9px;
    display: grid;
    grid-template-columns: 95px 200px;
    grid-template-rows: repeat(3, 20px);
    z-index: 2;
    
    font-family: "Inter"; font-size: 16px; font-weight: 500;
}
.nowPlayingStatsText { font-weight: 800; }
/* Now Playing Background */
#nowPlayingBackgroundGradient {
    position: absolute; left: 580px; top: 0;
    background: linear-gradient(to right, white,  white,  white, white, white, rgba(255, 255, 255, 0.875), rgba(255, 255, 255, 0.75), 
                            rgba(255, 255, 255, 0.625), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.375), 
                            rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.125), transparent);
    width: 450px; height: var(--nowPlayingBoxHeight);
    z-index: 1;
}
#nowPlayingBackground {
    position: absolute; left: 630px; top: 0;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    background-position: center;
    background-size: cover;
    width: 400px; height: var(--nowPlayingBoxHeight);
}

/* Side Containers */
.sideContainer {
    position: absolute; 
    width: var(--outsideSectionContainerWidth);
    box-shadow: var(--boxShadowPurple);
    background-color: white;
    color: var(--mainColour);
}
.sideSectionLine1 {
    position: absolute; left: 0px; top: 27px;
    background-color: var(--mainColour);
    width: 232px; height: 1px;
}
.sideSectionLine2 {
    position: absolute; left: 11px; top: 33px;
    background-color: var(--mainColour);
    width: 15px; height: 2px;
}

/* Mod Info */
#modInfoContainer {
    top: 810px; left: 0;
    height: 105px;
    transition: 500ms ease-in-out;
}
#modInfoHeader {
    position: absolute; left: 25px; top: 10px;
    font-family: "Inter"; font-weight: 800; font-size: 12px;
}
#modInfoText {
    position: absolute; left: 50%; top: 64.5px;
    transform: translate(-50%, -50%);
    width: 255px;
    font-family: "Inter"; font-weight: 500; font-size: 12px;
    text-align: center;
}

/* Team Sections */
.teamSection {
    position: absolute; left: var(--sideSectionContainerLeft); 
    width: var(--middleSectionContainerWidth); height: 100px;
    background-color: white;
    overflow: hidden;
    transition: 500ms ease-in-out;
}
#teamRedSection {
    top: 383px;
    color: var(--teamRedColour);
    box-shadow: var(--boxShadowRed);
}
#teamBlueSection {
    bottom: 285px;
    color: var(--teamBlueColour);
    box-shadow: var(--boxShadowPurple);
}
/* Team Details */
.teamDetails {
    position: absolute; left: 0px; 
    width: inherit; height: 56px;
}
#teamRedDetails {
    top: 0px;
    background-color: var(--teamRedColour);
}
#teamBlueDetails {
    bottom: 0px;
    background-color: var(--teamBlueColour);
}
/* Team Banner */
.teamBanner {
    position: absolute; left: 10px; 
    width: 80px; height: 40px;
    background-size: cover;
    background-position: center;
}
#teamRedBanner { top: 8px; }
#teamBlueBanner { bottom: 8px; }
/* Team Name */
.teamNameContainer {
    position: absolute; left: 106px; top: 8px;
    width: 150px; height: 40px;
    display: flex;
    align-items: center;
}
.teamName {
    font-family: "Inter"; font-weight: 800; font-size: 16px;
    color: var(--teamSectionColour);
}
/* Team Seed */
.teamSeed {
    position: absolute; left: 273px; top: 9px;
    width: 35px; height: 31px;
    color: var(--teamSectionColour);
    font-family: "Inter"; 
}
.teamSeedText { font-weight: 800; font-size: 12px; }
.teamSeedNumber {
    position: absolute; left: 50%; top: 15px;
    font-weight: 400; font-size: 18px;
    transform: translateX(-55%);
}
/* Team Wins */
.teamWins {
    position: absolute; 
    width: 174px; height: 30px;
}
#teamRedWins { top: 59px; }
#teamBlueWins { bottom: 59px; }
/* Team win text */
.teamWinsText {
    position: absolute; left: 10px;
    font-family: "Inter"; font-size: 12px; font-weight: 500;
}
/* Team win line */
.teamWinLine {
    position: absolute; top: 17px;
    width: 91px; height: 1px;
}
#teamRedWinLine { background-color: var(--teamRedColour); }
#teamBlueWinLine { background-color: var(--teamBlueColour); }
/* Team win stars */
.teamWinStars {
    display: flex;
    position: absolute; left: 10px; top: 23px;
}
.teamWinStar {
    width: 18px; height: 5px;
    margin-right: 4px;
    border: 1px solid;
}
.teamRedWinStar { border-color: var(--teamRedColour); }
.teamRedWinStarFill { background-color: var(--teamRedColour); }
.teamBlueWinStar { border-color: var(--teamBlueColour); }
.teamBlueWinStarFill { background-color: var(--teamBlueColour); }
/* Team map picks */
.teamMapPick {
    position: absolute; left: 217px;
    width: 96px; height: 23px;
    border: 2px solid;
    border-right-width: 0;
    line-height: 23px;
    font-family: "Inter"; font-size: 12px; font-weight: 500;
    text-align: center;
}
#teamRedMapPick {
    top: 62px;
    border-color: var(--teamRedColour);
}
#teamBlueMapPick {
    bottom: 62px;
    border-color: var(--teamBlueColour);
}
/* Team Score Section */
/* Team Score */
.teamScoreSection  {
    opacity: 1;
    transition: 500ms ease-in-out;
}
.teamCurrentScore {
    position: absolute; right: 9px; 
    font-family: "Inter"; font-size: 36px;
}
#teamRedCurrentScore {
    top: 94px;
    font-weight: 500;
}
#teamBlueCurrentScore {
    bottom: 94px;
    font-weight: 800; 
}
/* Score Line 1 */
.teamScoreLine1 {
    position: absolute; left: 11px; 
    width: 15px; height: 2px;
    background-color: var(--teamRedColour);
}
#teamRedScoreLine1 { 
    top: 138px;
    background-color: var(--teamRedColour);
}
#teamBlueScoreLine1 {
    bottom: 138px;
    background-color: var(--teamBlueColour);
}
/* Score Line 2 */
.teamScoreLine2 {
    position: absolute; 
    width: 217px; height: 1px;
}
#teamRedScoreLine2 {
    top: 145px;
    background-color: var(--teamRedColour);
}
#teamBlueScoreLine2 {
    bottom: 145px;
    background-color: var(--teamBlueColour);
}
/* Score Text */
.teamScoreText {
    position: absolute; left: 10px; 
    font-family: "Inter"; font-size: 12px; font-weight: 500;
}
#teamRedScoreText { top: 149px; }
#teamBlueScoreText { bottom: 149px; }

/* Current score difference */
#currentScoreDifference {
    position: absolute; left: 73px; top: 573px;
    width: 200px; height: 30px;
    background-color: var(--teamBlueColour);
    color: white;
    font-family: "Inter"; font-weight: 800;
    text-align: center;
    line-height: 30px;
    transition: 400ms ease-in-out;
}

/* Current Score Bar */
#currentScoreBar {
    position: absolute; left: 340px; top: 104px;
    width: 25px; height: 968px;
    transition: 500ms ease-in-out;
}
.currentScoreBar {
    position: absolute; 
    width: inherit; height: 484px;
    transition: 200ms ease-in-out;
}
#currentScoreBarRed {
    bottom: 50%;
    background-color: var(--teamRedColour);
}
#currentScoreBarBlue {
    top: 50%;
    background-color: var(--teamBlueColour);
}

/* Chat */
#chatDisplay {
    position: absolute; left: 15px; top: 508px;
    width: 295px; height: 130px;
    background-color: white;
    box-shadow: var(--boxShadowPurple);
    font-family: "Inter"; font-size: 12px;
    overflow: hidden;
    padding: 10px;
    overflow-y: scroll;
    transition: 500ms ease-in-out;
}
.chatMessageContainer { display: flex; }
.messageTime {
    font-weight: 500;
    width: 45px;
    color: #B5B5B5;
}
.messageUser {
    font-weight: 800;
    width: 100px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.messageContent {
    width: 154px;
    margin-left: 5px;
}
.unknownTeamChat { color: #00b140; }
.redTeamChat { color: var(--teamRedColour); }
.blueTeamChat { color: var(--teamBlueColour); }

/* Gameplay greenscreen */
.gameplayScreen {
    position: absolute; 
    width: 507px; height: 479px;
    background-color: #00b140;
}
.gameplayLeftScreen { left: 375px; }
.gameplayMiddleScreen { left: 890px; }
.gameplayRightScreen { left: 1405px; }
.gameplayTopScreen { top: 104px; }
.gameplayBottomScreen { top: 593px; }

/* Sidebar */
#sideBar {
    position: absolute; left: 1920px; top: 0;
    width: 250px; height: 1080px;
    background-color: #EBA791;
    font-family: "Inter"
}
.sideBarSectionHeader {
    margin: 15px 0 10px 0;
    font-weight: 500;
    font-size: 30px;
    width: inherit; text-align: center;
}
#sideBarStarButtons {
    width: inherit;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sideBarStarButton {
    width: 100px; height: 50px;
    margin: 7px;
    border-radius: 10px;
    background-color: white;
    border-color: black;
    font-size: 18px;
}
.sideBarStarButton:active {
    border-color: black;
    background-color: black;
    color: white;
}
#warmupButton {
    width: 214px;
}

/* Player Information */
.playerInfo {
    position: absolute; top: 7px;
    width: inherit; height: 45px;
    font-family: "Inter";
    color: white;
}
.playerInfoRectangle {
    position: absolute; top: 8px;
    width: inherit; height: 29px;
    background-color: var(--mainColour);
}
.playerInfoProfile {
    position: absolute; left: 8px;
    width: 45px; height: 45px;
    background-size: cover;
    background-image: url("https://a.ppy.sh/2")
}
.playerInfoName {
    font-weight: 800;
}
.playerInfoNameReal {
    position: absolute; left: 69px; top: 13px;
    width: 185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 800;
}
.playerInfoScoreReal {
    position: absolute; left: 284.25px; top: 13px;
    transform: translateX(-50%);
}
.playerInfoAccuracyReal {
    position: absolute; left: 386.35px; top: 13px;
    transform: translateX(-50%);
}
.playerInfoComboReal {
    position: absolute; right: 10px; top: 13px;
}

/* Scrollbar */
::-webkit-scrollbar {
    display: none;
}