:root {
    --mainColour: #5E72EB;
    --teamBlueColour: #5E72EB;
    --teamRedColour: #FF9190;
    --teamSectionColour: #FFFEFA;

    --boxShadowRed: 0 4px 15px 0 rgba(255, 145, 144, 0.45);
    --boxShadowPurple: 0 4px 15px 0 rgba(94, 114, 235, 0.45);

    --nowPlayingBoxHeight: 80px;
    --outsideSectionContainerWidth: 330px;
    --middleSectionContainerWidth: 315px;
    --sideSectionContainerLeft: 15px;
    --sideSectionLowerContainerHeight: 105px;

    --NMColour: #5E72EB;
    --HDColour: #FCC164;
    --HRColour: #F27F85;
    --DTColour: #8874ED;
    --FMColour: #EFA071;
    --LMColour: #F9A0BE;
    --TBColour: #5D5048;
}

/* Fonts */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-ExtraBold.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter-Medium.ttf");
    font-weight: 500;
}

/* Whole page */
#main {
    position: absolute; left: 0; top: 0;
    width: 1920px; height: 1080px;
    background-image: url("static/background.png");
    background-size: cover;
}

/* Team Sections */
.teamSection {
    position: absolute; top: 106px;
    width: 450px; height: 600px;
    background-color: white;
}
#redTeamSection { 
    left: 0px; 
    box-shadow: var(--boxShadowRed); 
}
#blueTeamSection { 
    right: 0px;
    box-shadow: var(--boxShadowPurple); 
}
/* Team Top Background */
.teamBackgroundImage {
    position: absolute; top: 0;
    width: 325px; height: 140px;
}
#redTeamBackgroundImage { right: 0; }
#blueTeamBackgroundImage { left: 0; }
/* Team Top Gradient */
.teamGradient {
    position: absolute; top: 0;
    width: inherit; height: 140px;
}
#redTeamGradient {
    left: 0;
    background: linear-gradient(to right, var(--teamRedColour), var(--teamRedColour), #FF919080, transparent, transparent);
}
#blueTeamGradient {
    right: 0;
    background: linear-gradient(to left, var(--teamBlueColour), var(--teamBlueColour), #5E72EB80, transparent, transparent);
}
/* Team Name Section */
.teamNameSection {
    position: absolute; 
    top: 18px;
    width: 369px; height: 103px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#redTeamNameSection { left: 0; }
#blueTeamNameSection { right: 0; }
/* Team Name Text */
.teamNameText {
    margin-top: 2px;
    width: 300px;
    font-family: "Inter"; font-size: 32px; font-weight: 800;
    color: white;
}
#redTeamNameText { margin-left: 30px; }
#blueTeamNameText {
    margin-left: 40px;
    text-align: right;
}
/* Team Average Rank Section */
#redTeamAverageRankSection { display: flex; }
#blueTeamAverageRankSection { 
    display: flex; 
    flex-direction: row-reverse;
}
/* Team Average Rank Line */
.teamAverageRankLine {
    margin-top: 16px;
    width: 60px; height: 2px;
    background-color: white; 
}
/* Team Average Rank Number */
.teamAverageRank {
    margin-top: 6px;
    font-family: "Inter";
    font-weight: 500;
    color: white;
}
#redTeamAverageRank { margin-left: 9px; }
#blueTeamAverageRank { margin-right: 9px; }
/* Team Side Cosmetics */
.teamCosmetics {
    position: absolute; top: 0;
    width: 15px; height: inherit;
}
#redTeamCosmetics {
    left: 0;
    background-color: var(--teamRedColour);
    box-shadow: var(--boxShadowRed);
}
#blueTeamCosmetics {
    right: 0;
    background-color: var(--teamBlueColour);
    box-shadow: var(--teamBlueColour);
}
/* Team Wins Section */
.teamWinsSection {
    position: absolute; top: 140px;
    width: 435px; height: 100px;
}
#redTeamWinsSection { left: 15px; }
#blueTeamWinsSection { right: 15px; }
/* Team Wins Text */
.teamWinsText {
    position: absolute; top: 16px;
    font-family: "Inter"; font-weight: 800; font-size: 20px;
}
#redTeamWinsText {
    left: 15px;
    color: var(--teamRedColour)
}
#blueTeamWinsText {
    right: 15px;
    color: var(--teamBlueColour)
}
/* Team Wins Rectangle 1 */
.teamWinRectangle1 {
    position: absolute; top: 45px;
    width: 169px; height: 2px;
}
#redTeamWinRectangle1 { background-color: var(--teamRedColour); }
#blueTeamWinRectangle1 {
    right: 0;
    background-color: var(--teamBlueColour);
}
/* Team Wins Rectangle 2 */
.teamWinRectangle2 {
    position: absolute; top: 57px;
    width: 15px; height: 3px;
}
#redTeamWinRectangle2 {
    left: 15px;
    background-color: var(--teamRedColour);
}
#blueTeamWinRectangle2 {
    right: 15px; 
    background-color: var(--teamBlueColour);
}
/* Team win stars */
.teamWinStars {
    position: absolute; top: 70px;
    display: flex;
}
#redTeamWinStars { left: 15px; }
#blueTeamWinStars { 
    left: 15px; 
    flex-direction: row-reverse;
}
.teamWinStar {
    width: 50px; height: 13px;
    margin-right: 6px;
    border: 1px solid;
}
.teamRedWinStar { border-color: var(--teamRedColour); }
.teamRedWinStarFill { background-color: var(--teamRedColour); }
.teamBlueWinStar { border-color: var(--teamBlueColour); }
.teamBlueWinStarFill { background-color: var(--teamBlueColour); }
/* Team Players Sections */
.teamPlayers {
    position: absolute; top: 246px;
    width: 400px; height: 155px;
    display: flex; justify-content: space-between;
    flex-wrap: wrap;
}
#redTeamPlayers { left: 30px; }
#blueTeamPlayers {
    right: 30px;
    flex-direction: row-reverse;
}
/* Team Players */
.teamPlayer {
    position: relative;
    width: 192px; height: 45px;
    margin-bottom: 10px;
}
/* Team Player Side Rectangle */
.teamPlayerSideRectangle {
    position: absolute; top: 6px; 
    width: 4px; height: 32px;
}
.redTeamPlayerSideRectangle { background-color: var(--teamRedColour); }
.blueTeamPlayerSideRectangle { background-color: var(--teamBlueColour); }
/* Team Player Profile Picture */
.teamPlayerProfilePicture {
    position: absolute; left: 4px;
    width: 45px; height: 45px;
}
/* Team Player Name */
.teamPlayerNameRectangle {
    position: absolute; left: 49px; top: 6px;
    width: 145px; height: 21px; 
}
.redTeamPlayerNameRectangle { background-color: var(--teamRedColour); }
.blueTeamPlayerNameRectangle { background-color: var(--teamBlueColour); }
.teamPlayerName {
    position: absolute; left: 57px; top: 8px;
    font-family: "Inter"; font-size: 14px; font-weight: 800;
    white-space: nowrap;
    width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
}
/* Team Player Rank */
.teamPlayerRankRectangle {
    position: absolute; left: 49px; top: 36px;
    width: 18px; height: 2px;
}
.redTeamPlayerRankRectangle { background-color: var(--teamRedColour); }
.blueTeamPlayerRankRectangle { background-color: var(--teamBlueColour); }
.teamPlayerRank {
    position: absolute; left: 71px; top: 30px;
    font-family: "Inter"; font-size: 11px; font-weight: 500;
}
.redTeamPlayerRank { color: var(--teamRedColour); }
.blueTeamPlayerRank { color: var(--teamBlueColour); }
/* Team Protect */
.teamProtect {
    position: absolute; top: 430px;
    width: 400px; height: 90px;
}
#redTeamProtect { left: 15px; }
#blueTeamProtect { right: 15px; }
/* Team Protect Text */
.teamProtectText {
    position: absolute;
    width: 151px;
    font-family: "Inter"; font-size: 20px; font-weight: 500;
}
#redTeamProtectText {
    left: 15px;
    color: var(--teamRedColour);
}
#blueTeamProtectText {
    right: 15px;
    color: var(--teamBlueColour);
}
.protectTextColour { font-weight: 800; }
/* Team Protect Rectangle 1 */
.teamProtectRectangle1 {
    position: absolute; top: 25px;
    width: 251px; height: 2px;
}
#redTeamProtectRectangle1 { background-color: var(--teamRedColour); }
#blueTeamProtectRectangle1 {
    right: 0;
    background-color: var(--teamBlueColour);
}
/* Team Protect Rectangle 2 */
.teamProtectRectangle2 {
    position: absolute;  top: 37px;
    width: 15px; height: 3px;
}
#redTeamProtectRectangle2 {
    left: 15px;
    background-color: var(--teamRedColour);
}
#blueTeamProtectRectangle2 {
    right: 15px;
    background-color: var(--teamBlueColour);
}
/* Team Protect Map */
.teamProtectMap {
    position: absolute; top: 59px;
    width: 400px; height: 90px;
    font-family: "Inter";  font-weight: 800;
    color: var(--LMColour);
}
#redTeamProtectMap { left: 15px; }
#blueTeamProtectMap { right: 15px; } 
/* Team Protect Background Image */
.teamProtectBackgroundImage {
    position: absolute; right: 0; width: 180px; height: inherit;
    background-image: url("https://assets.ppy.sh/beatmaps/292301/covers/cover.jpg");
    background-size: cover;
    background-position: center;
}
.teamProtectGradient {
    position: absolute; width: inherit; height: inherit;
    background: linear-gradient(to right, white 0%, white 65%, rgba(255, 255, 255, 0) 100%);
}
/* Team Protect Map Mod */
.teamProtectMapMod {
    position: absolute;
    width: 54px; height: inherit;
    background-color: var(--LMColour);
    color: white;
}
.teamProtectMapMod > * {
    position: absolute; left: 50%; 
    transform: translateX(-50%);
}
.teamProtectMapModIdText {
    top: 13px;
    font-size: 20px;
}
.teamProtectMapModIdNumber {
    top: 30px;
    font-size: 46px;
}
/* Team Protect Map Name */ 
.teamProtectMapName {
    position: absolute; left: 63px; top: 13px;
    width: 250px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
/* Team Protect Mapper */
.teamProtectMapperText {
    position: absolute; left: 63px; top: 56px;
    font-family: "Inter"; font-size: 7px; font-weight: 500;
}
.teamProtectMapperName {
    position: absolute; left: 63px; top: 64px;
    font-family: "Inter"; font-weight: 800; font-size: 11px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Team Protect Difficulty */
.teamProtectDifficultyText {
    position: absolute; left: 170px; top: 56px;
    font-family: "Inter"; font-size: 7px; font-weight: 500;
}
.teamProtectDifficultyName {
    position: absolute; left: 170px; top: 64px;
    font-family: "Inter"; font-weight: 800; font-size: 11px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Commentators  */
#commentatorsContainer {
    top: unset;
    bottom: 167px;
}

/* Rotating Info */
#rotatingInfo { top: 923px; }